:local(table){
    border-spacing:10px;
}
:local(th){
    text-transform: capitalize;
    text-align: center;
}

:local(th:first-of-type){
    position: relative;
    right: 15px;
}

:local(th:nth-of-type(2)){
    position: relative;
    left: 10px;
}

:local(tr){
    margin-bottom: 10px;
}

:local(.firstColumn){
    width: 200px;
}
:local(.secondColumn){
    padding-left: 20px;
}